<h1> {{ task.title }} details</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2> Current:  {{ task.selectedProposal.maker }} {{ task.selectedProposal.price }} {{ task.selectedProposal.duration }} </h2>

<form action="{% url 'task:set_select_proposal' task.id %}" method="post">
{% csrf_token %}
{% for proposal in task.proposals.all %}
    <input type="radio" name="proposal" id="proposal{{ forloop.counter }}" value="{{ proposal.id }}" />
    <label for="proposal{{ forloop.counter }}">{{ proposal.maker }} {{ proposal.price }} {{ proposal.duration }} </label><br />
{% endfor %}
<input type="submit" value="Save" />
</form>

